################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Repos/v16/Browse.VC.opendb
*.json
travail/projet test/.vs/projet test/v16/.suo
*.db
*.ipch
*.obj
*.sqlite
*.enc
